<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space.zero.september.admin.mapper.MenuMapper">
    <resultMap id="menu" type="space.zero.september.admin.entity.Menu">
        <id column="menu_id" property="menuId"/>
        <result column="parent_menu_id" property="parentMenuId"/>
        <result column="cascade_path" property="cascadePath"/>
        <result column="menu_name" property="menuName"/>
        <result column="title" property="title"/>
        <result column="icon" property="icon"/>
        <result column="perm" property="perm"/>
        <result column="type" property="type"/>
        <result column="order_num" property="orderNum"/>
        <result column="hidden" property="hidden"/>
        <result column="always_show" property="alwaysShow"/>
        <result column="component" property="component"/>
        <result column="path" property="path"/>
        <result column="redirect" property="redirect"/>
        <result column="created_time" property="createdTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="tenant" property="tenant"/>
    </resultMap>

    <resultMap id="menuTree" type="space.zero.september.admin.entity.Menu" extends="menu">
        <collection property="children"  column="menu_id" ofType="space.zero.september.admin.entity.Menu"
                    select="selectChildByParentId"></collection>
    </resultMap>

    <!--自己写的SQL，Mybatis Plus的逻辑删除不会生效，需手动加上-->
    <select id="selectMenu" resultMap="menu" parameterType="Map">
        SELECT *
        FROM sys_menu
        <where>
            is_del = 0
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="menuName != null">
                AND menu_name like concat(concat('%',#{menuName}),'%')
            </if>
        </where>
    </select>

    <select id="selectMenuByRoleId" resultMap="menu">
        SELECT m.*
        FROM sys_menu m, sys_role_menu rm
        WHERE m.is_del = 0 AND m.menu_id = rm.menu_id AND rm.role_id = #{roleId}
    </select>

    <select id="selectMenuIdByRoleId" resultType="java.lang.Long">
        SELECT menu_id
        FROM sys_role_menu
        WHERE role_id = #{roleId}
    </select>

    <select id="selectMenuTree" parameterType="java.lang.Long" resultMap="menuTree">
        SELECT *
        FROM sys_menu
        WHERE is_del = 0 AND menu_id = #{menuId}
    </select>

    <select id="selectChildByParentId" parameterType="java.lang.Long" resultMap="menuTree">
        SELECT *
        FROM sys_menu
        WHERE is_del = 0 AND parent_menu_id = #{parentMenuId}
    </select>

</mapper>